* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#tick {
    width: 100%;
    margin-top: .1em;
    border: none;
    font-size: 6em;
    font-weight: bold;
    font-family: Lucida Console, Courier New, Consolas;
    text-align: center;
    color: red;
    background: transparent;
}


.video_options {
    display: inline-block;
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border: solid 1px lightgray;
}

.video_options div {
    display: inline-block;
}


.font {
    display: inline-block;
    font-size: 1em;
    width: 1em;
    text-align: center;
}

.player_container {
    text-align: center;
}

.video {
    display: inline-block;
    font-size: 1em;
    margin: 0 0 .1em 0;
    padding: .1em .2em .1em .2em;
    border: none;
    width: 10em;
    cursor: pointer;
}

#player {
    display: none;
}

#option_container {
    z-index: 200;
    position: absolute;
    width: 100%;
}

.player_container {
    z-index: 100;
    position: absolute;
    width: 100%;
}

