* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden; 
}


#tick {
    width: 100%;
    border: none;
    font-size: 5em;
    font-family: Consolas, Manoco;
    display: block;
    color: red;
    background: transparent;
    text-align: center;
}



#option_container {
    z-index: 200;
    position: absolute;
    width: 100%;
    text-align: center;
}


.player_container {
    z-index: 100;
    position: absolute;
    width: 100%;
    text-align: center;
}



#player {
    display: none;
}
